@tailwind base;
@tailwind components;
@tailwind utilities;


.container-color{
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 55%,#804eec) border-box;
    border: 2px solid transparent;
}
.container-color2{
    background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(-1125deg, transparent 25%,#804eec) border-box;
    border: 2px solid transparent;
}

html{
    scroll-behavior: smooth;
}

.gradient-border{
  background-image: radial-gradient(
      at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);
}